extends layout

block content
  .pure-g
    ul
      each file in files
        .pure-u-1.pure-u-md-1-2.pure-u-lg-1-3.pure-u-xl-1-4
          .image.border
            li
              img(src='/benned/img/'+file)
