html
  head
    title= title
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    <!--[if lte IE 8]>
      link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css")
    <![endif]-->
    <!--[if gt IE 8]><!-->
      link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
    <!--<![endif]-->

    meta(name='viewport' content='width=device-width, initial-scale=1')
    style.
      img {
        object-fit: contain;
        width: 100%;
        height: 20em;
      }
      body {
        background-color: whitesmoke
      }
      .image {
        margin: 10px;
      }
      ul {
        list-style: none;
      }
      .container {
        margin: 5em 5em 0 5em;
      }
      .border {
        border: solid 1px grey;
      }

  body
    .container.pure-g
      block content
